* { box-sizing: border-box; }
body {
    font-family: Verdana, sans-serif;
    background-color: #FFFFFF; 
    color: #666666;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin:0;

    
        
        
}
#wrapper {
    display:grid;
    grid-auto-rows: minmax(0,auto);
    grid-template-columns: minmax(0px,1fr) repeat(6,minmax(0,175)) minmax(0px,1fr);
}


header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(utahtechlogo.svg);
    background-position: right; 
    background-repeat: no-repeat;
    padding-left: 1em ;
    background-origin: content-box  ;
    margin:0;

}
nav {
    font-weight: bold;
    background-color: #424242;
    padding:0rem;
    margin:0;
    position:sticky;
    top:0;

}

footer {
    font-size: .7rem;
    font-weight: italic;
    text-align: center;
    padding: 1rem;


}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
h2{
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
dt{
    color: #003058;
    font-weight: bold;

}
h3{
    color: #003058;

}
#homehero{
    height: 300px;
    background-image: url(homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#studenthero{
    height: 300px;
    background-image: url(studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facultyhero{
    height: 300px;
    background-image: url(facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav a {
    text-decoration: none;
    color:#FFFFFF;
    padding:1rem 0rem;
    display:block;
    text-align: center;
}

dt{
    color: #003058;
    font-weight: bold;

}
main{
    padding-left: 2rem;
    padding-right: 2rem; 
}
header {
    grid-row:1 / 2;
    grid-column: 2 / -2;
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    grid-row:2 / 3;
    grid-column: 2 / -2;}
#homehero, #studenthero, #facultyhero{
    grid-row:3/4;
    grid-column: 2/-2;
}
main{
    grid-row:4/5;
    grid-column:2/-2 ;
    background-color: #FFFFFF;
}
footer{
    grid-row:5/6 ;
    grid-column: 2/ -2;
}
header a{
    color:#ffffff;
    text-decoration:none ;
}
main img{
    float:right;
    padding-left: 2rem;

}
nav ul{
    padding:0;
    margin:0;
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;

}
nav ul li{
    width:100%;

}
nav a:hover{
    background-color: #BA1C21;

}