
body {
    font-family: Verdana, sans-serif;
    background-color: #003058;
    color: #FFFFFF;     
        
        
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
header h1 {
    line-height: 140%;
    padding: .5rem;


}
nav {
    margin-top: 10px;
    text-align: center;
}

footer {
    font-size: 5rem;
    font-weight: italic;
    text-align: center;

}
#ut {
    color: #BA1C21;
    font-weight: bold;
}
