
            a {
                color:purple
            }
            header {background-color:red;
                color:white
            }
            h1 {font-size: 50px}
            p{
        font-size: 1.5rem;
    }
    #bluetext { color:blue}

    .redtext {color:blue}
body{
    background-image: linear-gradient(#dddddd #FFFFFF);
}

p{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 26;
    line-height: 1;
    text-transform: uppercase
        }
nav{
    border:2px solid red  ;
    border-radius: 20px;
    
    }
nav ul li{
    display:inline-block;

    padding: 10px 20px;
    margin:0px;
    background-color: grey;
}
    nav ul li:hover{color:aquamarine}
    .myimage{
    size: 300px;
    float:left;
    }
    .backgroundimage{

    }
    .clear{
        clear:both;
    }
    div{
        overflow: auto;
    }

.collum{}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.gallery{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,minmax(200px,110));

}



    