        <style>

            a {
                color:purple
            }
            header {background-color:red;
                color:white
            }
            h1 {font-size: 50px}
            p{
                font-size: 1.5rem;
            }
            #bluetext { color:blue}

            .redtext {color:green}

            body header h1 {

            }
            p{
                font-size: 2rem;
                font-weight: bold;
                font-style: italic;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 26;
                line-height: 1;
                text-shadow: 5px 5px 12px;
                text-transform: uppercase
            }
        </style>