
body {
    font-family: Verdana, sans-serif;
    background-color: #FFFFFF; 
    color: #666666;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    
        
        
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
header h1 {
    line-height: 140%;
    padding: .5rem;


}
nav {
    font-weight: bold;
    background-color: #F3F3F3;
}

footer {
    font-size: .7rem;
    font-weight: italic;
    text-align: center;

}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
h2{
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
dt{
    color: #003058;
    font-weight: bold;

}
