
body {
    font-family: Verdana, sans-serif;
    background-color: #FFFFFF; 
    color: #666666;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;

    
        
        
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color:  #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);



}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(utahtechlogo.png);
    background-position: right; 
    background-repeat: no-repeat;
    padding-left: 1em ;
    background-origin: content-box  ;
    margin-bottom:0;

}
nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding-left: 2rem;
    padding:0.5rem;

}

footer {
    font-size: .7rem;
    font-weight: italic;
    text-align: center;
    padding: 1rem;


}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
h2{
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
dt{
    color: #003058;
    font-weight: bold;

}
h3{
    color: #003058;

}
#homehero{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#studenthero{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facultyhero{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav a {
    text-decoration: none;
}
